body {
    background-image: url("../img/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.icon {
    width: 30%;
    margin-left: 35%;
}

.container {
    margin-top: 3em;
    display: flex;
    place-content: center;
    gap: 3em;
}

.mon2 {
    width: 15%;
    height: 15%;
    border-radius: 4vh;
}

.mon1 {
    width: 15%;
    height: 15%;
    border-radius: 4vh;
}

.mon3 {
    width: 15%;
    height: 14%;
    border-radius: 4vh;
}
.input {
    margin-top: 4%;
    text-align: center;
}

#submitButton {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: #ff90e8;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

#submitButton:hover {
    box-shadow: 4px 4px 0 #64CFF1;
    transform: translate(-4px,-4px);
}
#submitButton:focus-visible{
    outline-offset: 1px;
}
