*{
    margin: 0;
    padding: 0;
}

.background {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.icon {
    width: 30%;
    margin-left: 35%;
}