body {
    background-image: url("../img/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.icon {
    width: 30%;
    margin-left: 35%;
}

.container {
    margin-top: 3em;
    display: flex;
    place-content: center;
    gap: 3em;
}

.mon2 {
    width: 15%;
    height: 15%;
    border-radius: 4vh;
}

.mon1 {
    width: 15%;
    height: 15%;
    border-radius: 4vh;
}

.mon3 {
    width: 15%;
    height: 14%;
    border-radius: 4vh;
}
.input {
    margin-top: 4%;
    text-align: center;
}

