.text1{
    text-align: center;
    display: flex;
    margin-left: 440px;
    margin-top: 250px;
    color: aliceblue;
}

.text2{
    display: flex;
    margin-left: 380px;
    color: aliceblue;
}

.text{
    display: flex;
    font-size: 50px;
    margin-left: 420px;
    color: aliceblue;
}

.backgroundd{
    background-color: black;
}

.discordPhoto{
    height: 30px;
    margin-left: 640px;
}

.code{
    height: 100px;
    width: 350px;
    margin-left: 500px;
}