body {
    background-image: url("../img/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.text1{
    text-align: center;
    display: flex;
    margin-left: 250px;
    margin-top: 50px;
    color: aliceblue;
    font-size: 50px;
}

.text2{
    display: flex;
    margin-left: 260px;
    color: aliceblue;
    font-size: 40px;
    text-align: center;
}

.text{
    display: flex;
    font-size: 50px;
    margin-left: 365px;
    color: aliceblue;
    text-align: center;
}

.backgroundd{
    background-color: black;
}

.discordPhoto{
    height: 30px;
    margin-left: 640px;
}

.code{
    height: 100px;
    width: 350px;
    margin-left: 500px;
}