body {
    background-image: url("../img/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.miaou {
    display: none;
}

.maiou img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    opacity: 10%;
}

.maiou a:hover {
    cursor: default;
}


.hx {
    height: 100vh;
    background-color: linear-gradient(90deg, #7761, #6c72, #7573);
}
