body {
    background-image: url("../img/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

a.lien {
    color: transparent;
}

.sound_part {
    margin-top: 3em;
}

.txt1 {
    font-size: 33px;
    color: #fff;
    margin-left: 14em;
}

.logo_music {
    width: 2em;
}

.fichier_audio {
    display: flex;
    place-content: center;
    gap: 1em;
    margin-top: 2em;
    align-items: center;
}

.mdp_part {
    display: flex;
    margin-top: 2em;
    place-content: center;
    align-items: center;
}

#submitButton {
    outline: 0;
    grid-gap: 8px;
    align-items: center;
    background-color: #ff90e8;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}

#submitButton:hover {
    box-shadow: 4px 4px 0 #64CFF1;
    transform: translate(-4px,-4px);
}
#submitButton:focus-visible{
    outline-offset: 1px;
}

#login-form {
    display: flex;
    margin-top: 4%;
    justify-content: center;
}