body {
  background-image: url("../img/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.ecritureHaut {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  font-size: 31,1px;
  font-family: 'Roboto', sans-serif;
  
  }
  
p  {
    color: red;
}