<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">   
    <link rel="stylesheet" type="text/css" href="../css/discord.css"> 
    <link rel="stylesheet" href="../style/index.css">
    <script src="../main.js"></script>
    <script src="../Script/discordMdp.js"></script>
    <title>Team6</title>
  </head>
  <body class="backgroundd">
    <header>
      <nav>
      </nav>
    </header>
    <main>
      <div id="header">
        <div class="logo_groupe">
          <img class="logo" src="../img/logo_grp.png" alt="logo du groupe 6">
          <span>GROUPE 6</span>
        </div>
        <span>CHALLENGE 48H</span>
          <span>YNOV 2023</span>
      </div>
            <h1 class="text1">Pour cette etape vous allez devoir</h1>
            <h1 class="text2" >Rejoindre ce discord pour trouver un code</h1>
            <img class="discordPhoto" src="../img/Discord.png" href="https://discord.gg/AkUx3mxA"  alt="Discord">
     <div>
        <h1 class="text" >Entrez le mot de passe :</h1>
        <form id="login-form">
          <input type="password" name="password" id="password-field" class="turban" placeholder="Password" maxlength="500">
          <input type="submit" value="Login" id="login-form-submit" hidden="true">
      </form>

    </div>
    </div>

</body>

</html>