<!DOCTYPE html>
<html>
<head>
    <title>Team6</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../css/mastermind.css">
    <link rel="stylesheet" href="../css/final.css">
</head>
<body>
<div id="header">
    <div class="logo_groupe">
        <img class="logo" src="/img/logo_grp.png" alt="logo du groupe 6">
        <span>GROUPE 6</span>
    </div>
    <span>CHALLENGE 48H</span>
    <span>YNOV 2023</span>
</div>

<div class = "final">
    <img class="fina2" src="/img/bravoooo.png" alt="final">
    <iframe src="https://giphy.com/embed/pdUCzeeRsX8pa" width="480" height="348" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/applause-clap-pdUCzeeRsX8pa"></a></p>
</div>



</div>
</body>
</html>