<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/hw.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../style/index.css">
    <script src="../main.js"></script>
    <script src="../Script/h.js"></script>

</head>

<body>

        <main id="main-holder">
            <h1 id="login-header">L'important c'est ce qu'il y a dans le fond</h1>
    
            <form id="login-form">
                <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password" maxlength="500">
                <input type="submit" value="Login" id="login-form-submit">
            </form>
    
</body>

</html>