<!DOCTYPE html>
<html>
<head>
  <title>Team6</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../style/index.css">
</head>
<body>
<div id="header">
  <div class="logo_groupe">
    <img class="logo" src="/img/logo_grp.png" alt="logo du groupe 6">
    <span>GROUPE 6</span>
  </div>
  <span>CHALLENGE 48H</span>
  <span>YNOV 2023</span>
</div>

<div class="mastermind">
  <h1>MASTERMIND</h1>
  <img src="../img/mastermind.png" >
  <p>Devinez la combinaison secrète de 4 chiffres</p>
  <input type="text" id="combinationInput" maxlength="4">
  <button id="submitButton">Envoyer</button>
  <div id="output"></div>
  <script>
    eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('P 6="O";e.d("N").M("L",K(){9 1=e.d("J").I;9 5=e.d("H");9 8="";7(1.G!==4){8="F E 3 D 4 C B.";5.a=8;A}z(9 i=0;i<4;i++){7(1[i]===6[i]){c.b(`${1[i]}jà2 y h.`)}g 7(6.x(1[i])){c.b(`${1[i]}j wév f 2 3,uà2 t h.`)}g{c.b(`${1[i]}n\'s r f 2 3.`)}}5.a=8;7(1===6){5.a="q, p o mé 2 3 lèk!"}});',52,52,'|input|la|combinaison||outputDiv|secret|if|message|let|innerHTML|log|console|getElementById|document|dans|else|place||est|te|secr|trouv||avez|vous|Bravo|pas|existe|mauvaise|mais|sent|pr|includes|bonne|for|return|seulement|chiffres|de|une|Entrez|length|output|value|combinationInput|function|click|addEventListener|submitButton|4982|const'.split('|'),0,{}))
  </script>
</div>

</body>
</html>