<!DOCTYPE html>
<html>
<head>
    <title>Team6</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../css/music_page.css">
    <script src="../main.js"></script>
    <script src="../Script/musicpage.js"></script>
</head>
<body>
<div id="header">
    <div class="logo_groupe">
        <img class="logo" src="../img/logo_grp.png" alt="logo du groupe 6">
        <span>GROUPE 6</span>
    </div>
    <span>CHALLENGE 48H</span>
    <span>YNOV 2023</span>
</div>

<div class ="sound_part">
    <p class="txt1">Tendez l'oreille :</p>
    <div class ="fichier_audio">
        <a class ="lien" href="../audio/sound1.wav" download>
            <img class="logo_music" src="../img/logo_music.png" alt="Télécharger le fichier audio">
        </a>
        <img src="../img/cross.png">
        <a class ="lien" href="h.html">
            <img class="logo_music" src="../img/logo_music.png" alt="Télécharger le fichier audio">
        </a>
    </div>
</div>

<form id="login-form">
    <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password" maxlength="500">
    <input type="submit" value="Login" id="login-form-submit">
</form>

</body>
</html>