<html>

<head>
    <link rel="stylesheet" href="../css/hw.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../style/index.css">
    <script src="../main.js"></script>
    
</head>

<body>
    <span>Vous avez trouvé ? </span>
    <a href="../template/musicpage.html">Cliquez ici pour l'associer</a>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/antelope.jpg"></a></div></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/chimpanzee2.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/bison.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/fox.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/cow.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/bee.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/goose.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/donkey.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/cat.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/sparrow.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/gorilla.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/goldfish.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/dolphin.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/goat.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/possum.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/chimpanzee.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/pig.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/penguin.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/eagle.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/badger.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/goat.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/possum.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/chimpanzee.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/pig.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/penguin.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/eagle.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/raccoon.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/flamingo.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/"></a></div>
    <div class="maiou"><a href="/audio/fr.wav" download><img src="../img/animals/walrus.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/bat.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/dog.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/duck.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/eagle.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/antelope.jpg"></a></div></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/chimpanzee2.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/bison.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/fox.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/cow.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/bee.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/goose.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/donkey.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/cat.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/sparrow.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/gorilla.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/goldfish.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/dolphin.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/goat.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/possum.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/chimpanzee.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/pig.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/penguin.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/eagle.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/raccoon.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/flamingo.jpg"></a></div>
    <div class="miaou"><a href="/audio/fr.wav" download><img src="../img/animals/elephant.jpg"></a></div>

</body>

</html>